*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
}

h1 span {
    font-size: .5em;
    font-weight: normal;
    text-transform: uppercase;
}

.container img {
    margin-top: 50px;
    width: 100%;
}

section {
    margin: 2em 0 5em;
}

pre {
    background-color: white;
    margin-bottom: 2em;
}

h3 img {
    width: 15px;
    height: 15px;
    margin: 0 5px 4px 5px;
}

h5 {
    margin-top: 1.5em;
}