*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 span {
    font-size: .5em;
    font-weight: normal;
    text-transform: uppercase;
}

h3 img {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}

section {
    margin: 2em 0 5em;
}

pre {
    background-color: #51e5b7;
    margin-bottom: 2em;
}

h5 {
    margin-top: 1.5em;
}
